@import '../../theme/variables.scss';

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.label {
  font-size: 14px;
  font-weight: 400;
}

.icons {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  column-gap: 24px;
  justify-content: flex-end;

  svg {
    width: 24px;
    height: 24px;

    &:nth-child(2) {
      cursor: move;
    }
  }
}

.title {
  font-size: 24px;
  font-weight: 500;
}

.popoverItem {
  cursor: pointer;
  width: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 9px;
  &:hover {
    background-color: #eeeeee;
  }
}

.popoverGreyBG {
  background: #fafafa;
}

.popoverBtnWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.popoverTitleWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.popoverTitle {
  margin-bottom: 12px;
  font-size: 14px;
}
