@import '../../../../theme/variables.scss';

.inputTabWrapper {
  position: relative;
}

.blockTitle {
  font-size: 20px;
  font-weight: 600;
}

.inputDiv {
  padding: 12px;
  min-height: 150px;
  width: 100%;
  font-size: 17px;
  border-radius: 6px;
  border: 1px solid $light-border;
  outline: none;
  &:hover,
  &:focus,
  &:focus-visible {
    border-color: $main;
  }
  div:not(:has(span)):not(:has(br)) {
    display: inline-block;
    // TODO fix bug with enter
  }
}

[contentEditable='true']:empty:not(:focus):before {
  content: attr(data-placeholder);
  color: $light-border;
  font-size: 17px;
}

.answerBlockWrapper {
  margin: 16px 0;
}

.onlyOneAnswerBlockWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.answerGroupWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: nowrap;
  column-gap: 32px;
  margin-bottom: 8px;

  svg {
    cursor: pointer;
  }
}

.onlyOneAnswerGroupWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.answerGroupIconWrapper {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  height: 100%;
}

.buttonItemWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
}

.answerItemWrapper {
  flex: 1;
  .answerTitle {
    padding-left: 25px;
  }
}

.answerInputWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  svg {
    cursor: pointer;
  }
}

.answerCorrectInputWrapper {
  padding-left: 25px;
}

.answerTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  svg {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
}

.buttonWrapperRight {
  display: flex;
  justify-content: flex-end;
}

.error {
  color: tomato;
}

.slash {
  font-size: 24px;
  font-weight: 700;
  margin: 0 8px;
}
