@import '../../../../theme/variables.scss';

.inputTabWrapper {
  position: relative;
}

.blockTitle {
  font-size: 20px;
  font-weight: 600;
}

.inputDiv {
  padding: 12px;
  min-height: 150px;
  width: 100%;
  font-size: 17px;
  border-radius: 6px;
  border: 1px solid $light-border;
  outline: none;
  &:hover,
  &:focus,
  &:focus-visible {
    border-color: $main;
  }
}

[contentEditable='true']:empty:not(:focus):before {
  content: attr(data-placeholder);
  color: $light-border;
  font-size: 17px;
}

.answerBlockWrapper {
  margin: 16px 0;
}

.answerGroupWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: nowrap;
  column-gap: 32px;
  margin-bottom: 8px;

  svg {
    cursor: pointer;
  }
}

.answerGroupIconWrapper {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  height: 100%;
}

.answerTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  svg {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
}

.buttonWrapperRight {
  display: flex;
  justify-content: flex-end;
}

.error {
  color: tomato;
}
