@import '../theme/variables.scss';

.redBtn {
  background-color: $third;
  color: #fff !important;

  &:hover {
    background-color: $third !important;
  }
}

.blueBtn {
  background-color: $accent;
  color: #fff !important;

  &:hover {
    background-color: $accent !important;
  }
}
