.skip {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  column-gap: 4px;
  height: 32px;

  .circle {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: #d5e8ff;
    color: #2d8cff;
  }

  .rectangle {
    display: inline-block;
    border: 1px solid lightgrey;
    border-radius: 6px;
    width: 104px;
    height: 32px;
  }

  select {
    border: 1px solid lightgrey;
    border-radius: 6px;
    min-width: 104px;
    height: 32px;
  }

  .line {
    display: inline-block;
    width: 38px;
    border-bottom: 3px solid #2d8cff;
  }
}

.circleSmall {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background-color: #d5e8ff;
  color: #2d8cff;
}
