.skip {
  display: inline-block;
  width: 38px;
  height: 25px;
  border-bottom: 2px solid black;
}

.border-color-1 {
  border-bottom-color: #3498db;
}
.border-color-2 {
  border-bottom-color: #0a4cd1;
}
.border-color-3 {
  border-bottom-color: #2ecc71;
}
.border-color-4 {
  border-bottom-color: #f39c12;
}
.border-color-5 {
  border-bottom-color: #1abc9c;
}
.border-color-6 {
  border-bottom-color: #f20ade;
}
.border-color-7 {
  border-bottom-color: #3366ff;
}
.border-color-8 {
  border-bottom-color: #16a085;
}
.border-color-9 {
  border-bottom-color: #f1c40f;
}
.border-color-10 {
  border-bottom-color: #9b59b6;
}
