@import '../../../theme/variables.scss';

.buttonGroup {
  display: flex;
  column-gap: 20px;

  button {
    width: 188px;
  }
}

.title {
  font-size: 20px;
  font-weight: 450;
}

.checkboxGroup {
  margin-top: 14px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  column-gap: 24px;
  row-gap: 16px;
}

.error {
  color: tomato;
}

.label {
  font-size: 14px;
  letter-spacing: -0.28px;
  font-weight: 400;
  color: $lightgrey-color-text;
  text-align: right;
}

.tabWrapper {
  position: relative;
  padding: 3px;

  svg {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.inputWrapperOneTab,
.inputWrapperThreeTab {
  z-index: 3;
  position: absolute;
  width: 63%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputWrapperThreeTab {
  row-gap: 20px;
}
