.title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.subtitle {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 31px;
}

.text {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 21px;
}

.image {
  margin-bottom: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  img {
    height: 380px;
    object-fit: contain;
  }
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 39px;
}

.custom {
  margin-bottom: 21px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 16px;
  row-gap: 8px;
  margin-bottom: 21px;
}
