@import '../../theme/variables.scss';

.wrapper {
  padding: 16px 24px;
}

.outerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.innerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-self: flex-end;
  gap: 8px;
}

.difficultyLevel {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.difficultyLevelItems {
  display: flex;
  column-gap: 24px;

  .active {
    font-weight: 600;
    padding-bottom: 3px;
    border-bottom: 3px solid $main;
  }
}

.subtitle {
  font-size: 14px;
  font-weight: 400;
}

.titleBlue {
  color: $accent;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.taskText,
.taskTextAloneBlock {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.taskTextAloneBlock {
  margin-bottom: 24px;
}

.answerBlockWrapper {
  margin: 24px 0;
}

.answerGroupWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 16px;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 8px;
}
